* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Fraunces", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background-color: hsl(30, 38%, 92%);
    color: hsl(228, 12%, 48%);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product {
    display: flex;
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
}

.product-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.product h2 {
    font-size: 36px;
    line-height: 1.1;
    color: hsl(212, 21%, 14%);
}

.desktop-image {
    width: 50%;
}

.mobile-image {
    display: none;
}

.product-description {
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-content {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: hsl(228, 12%, 48%);
}

.product-price {
    display: flex;
    gap: 30px;
    align-items: center;
}

.product-price h2 {
    color: hsl(158, 36%, 37%);
}

.product-pice p {
    text-decoration: line-through;
}

.btn {
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 10px;
    padding: 15px 0;
    color: hsl(0, 0%, 100%);
    letter-spacing: 1.5px;
    font-weight: 600;
}

.btn:hover {
    background-color:  hsl(212, 21%, 14%);
    cursor: pointer;
}

.strike{
    text-decoration-color:  hsl(228, 12%, 48%);
}

@media (max-width: 375px ) {
    .product {
        flex-direction: column;
        width: 90%;
    }

    .desktop-image {
        width: 100%;
        display: none;
    }

    .mobile-image {
        display: block;
        width: 100%;
    }

    .product h2 {
        font-size: 28px;
    }

    .product-price {
        gap: 20px;
    }

    .btn {
        width: 100%;
        padding: 12px 0;
    }
}